* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

main {
    margin: 50px auto;
    width: 960px;
}

.image-1 {
    background-image: url(img/flow01.png);
    height: 150px;
    background-size: cover;
    background-position: center;
}

.image-2 {
    background-image: url(img/flow02.png);
    height: 150px;
    background-size: cover;
    background-position: center;
}

.image-3 {
    background-image: url(img/flow03.png);
    height: 150px;
    background-size: cover;
    background-position: center;
}

.categories {
    position: absolute;
    top: 0;
    left: 0;
    background-color: orange;
    color: white;
    padding: 5px;
}

.stepbox {
    width: 300px;
    margin-right: 30px;
    padding: 10px;
    float: left;
    border: solid 2px #f7f7f7;
    position: relative;
}

.stepbox:last-child {
    margin-right: 0;
}

@media screen and (max-width:768px){
    main {
        width: 100%;
    }
    .stepbox {
        margin: 20px 5% 20px 5%;
        width: 90%;
        float: none;
    }

    .stepbox:first-child {
        margin: 50px 5% 20px 5%;
    }

    .stepbox:last-child {
        margin: 20px 5% 50px 5%;
    }
}